* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
body {
    display: flex;
}

h1,h2,h3,h4,h5,h6 { /*Bold*/
    font-family: "Mulish",sans-serif;
    font-weight: 700;
    font-style: normal;
}
p { /*Semi-bold*/
    font-family: "Mulish",sans-serif;
    font-weight: 600;
    font-style: normal;
}
span { /*Regular*/
    font-family: "Mulish",sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flex {
    display: flex;
    align-items: center;
}