#menu {
    width: 255px;

    background-color: #363740;
}

#div-logo {
    display: flex;
    align-items: center;

    margin-top: 37px;
    margin-bottom: 59px;
}
#div-logo img {
    margin-left: 32px;
}
#div-logo h1 {
    margin: 0px 0px 0px 12px;
    font-size: 19px;
    letter-spacing: 0.6px;

    opacity: 0.7;
    color: #a4a6b3;
}

.option-menu {
    display: flex;
    align-items: center;

    height: 56px;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #dde2ff;

    box-sizing: border-box;

    cursor: pointer;

    transition: all 0.3s;
}
.option-menu img {
    margin-left: 32px;
    margin-right: 24px; 

    height: 16px;
}

.active {
    background-color: rgba(159, 162, 180, 0.08);
    border-left: solid 3px #dde2ff;
}
.disabled {
    border-left: solid 3px #dde2ff00;
    opacity: 0.4;
}
.disabled:hover {
    background-color: rgba(159, 162, 180, 0.08);
    border-left: solid 3px #dde2ff;
    opacity: 1;
}