nav {
    width: 255px;

    background-color: #363740;
}

/*container w/ logo and title*/

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    padding-top: 37px;
    padding-bottom: 59px;  
}
#logo-container img {
    margin-right: 12px;
}
#logo-container h1 {
    color: #a4a6b3;
    opacity: 0.7;
    font-size: 19px;
    letter-spacing: 0.4px;
}

/*global configs to menu options*/

.options-nav {
    width: 100%;
    height: 56px;

    color: #dde2ff;

    display: flex;
    align-items: center;

    cursor: pointer;

    border-left: 3px solid transparent;
}
.options-nav img {
    margin-left: 32px;
    margin-right: 24px;
}
.options-nav span {
    font-size: 16px;
    letter-spacing: 0.2px;
}

/*active and disabled classes of menu options*/

.active-option {
    background: rgb(159, 162, 180, 0.08);

    border-left: 3px solid #dde2ff;
}
.disabled-option {
    opacity: 0.4;

    transition: 0.3s;
}
.disabled-option:hover {
    background: rgb(159, 162, 180, 0.08);
    opacity: 1;

    border-left: 3px solid #dde2ff;

    color: #dde2ff;
}